{{#if isSecondary}}
<ul class="nav-list" role="menu">
  {{#foreach navigation}}
  <li class="nav-item {{link_class for=(url) class=(concat "nav-" slug)}}" role="menuitem">
    <a href="{{url absolute="true"}}" class="nav-link">{{label}}</a>
  </li>
  {{/foreach}}
</ul>
{{else}}
<ul class="nav-list" role="menu">
  {{#foreach navigation}}
  <li class="nav-item {{link_class for=(url) class=(concat "nav-" slug)}}" role="menuitem">
    <a href="{{url absolute="true"}}" class="nav-link">{{label}}</a>
  </li>
  {{/foreach}}
</ul>
{{/if}}